.signup-container{
  padding: 40px 55px;
  border-radius: 66px;
  max-width: 710px;
}

.password-container{
  position: relative;
}

.pass-icon{
  position: absolute;
  top:20%;
  right:3%;
}